@model OotakiWebSample2.Models.ListModalModel

<!-- モーダル全体 -->
<div class="modal fade" id="listModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- ヘッダー部分 -->
            <div class="modal-header">
                <h5 class="modal-title">表示設定</h5> <!-- モーダルタイトル -->
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- ボディ -->
            <div class="modal-body">

                <!-- ViewModelのリストをループ -->
                <div class="row">
                    @foreach (var item in Model.ListViewModels)
                    {
                        <div class="col-2">

                            <!-- チェックボックス -->
                            <div class="form-check">

                                <!-- チェックボックス本体 -->
                                <input class="form-check-input"
                                       type="checkbox"
                                       value="@item.ItemName"
                                       id="chk_@item.ItemName.Replace(" ", "_")"
                                       data-item="@item.ItemName"
                                       @(item.VisibleFlag ? "checked" : "") />

                                <!-- チェックボックスのラベル -->
                                <label class="form-check-label"
                                       for="chk_@item.ItemName.Replace(" ", "_")">
                                    @item.ItemName
                                </label>
                            </div>
                        </div>
                    }
                </div>

            </div>

            <!-- フッター部分 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">適用</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            </div>

        </div>
    </div>
</div>